<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.samsalvail.drinkingbuddy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.MainActivity" />
        </activity>
        <activity
            android:name=".PickCategoryActivity"
            android:label="@string/title_activity_pick_category"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.LandingActivity" />
        </activity>
        <activity
            android:name=".BeerActivity"
            android:label="@string/title_activity_beer"
            android:parentActivityName=".BeerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.BeerActivity" />
        </activity>
        <activity
            android:name=".AddDrinkActivity"
            android:label="@string/title_activity_add_drink"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.LandingActivity" />
        </activity>
        <activity
            android:name=".TeaActivity"
            android:label="@string/title_activity_tea"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
