<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.samsalvail.drinkingbuddy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.MainActivity" />
        </activity>
        <activity
            android:name=".PickCategoryActivity"
            android:label="@string/title_activity_pick_category"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.LandingActivity" />
        </activity>
        <activity
            android:name=".PickDrinkActivity"
            android:label="@string/title_activity_pick_drink"
            android:parentActivityName=".PickCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.PickCategoryActivity" />
        </activity>
        <activity
            android:name=".AddDrinkActivity"
            android:label="@string/title_activity_add_drink"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.samsalvail.drinkingbuddy.LandingActivity" />
        </activity>
    </application>

</manifest>
